.edition-original {
  color: var(--color-edition-original);
}
.edition-updated {
  color: var(--color-edition-updated);
}
.edition-modernized {
  color: var(--color-edition-modernized);
}


.format-mobi {
  color: var(--color-format-mobi);
}
.format-pdf {
  color: var(--color-format-pdf);
}
.format-epub {
  color: var(--color-format-epub);
}
.format-softcover {
  color: var(--color-format-softcover);
}
.format-audio {
  color: var(--color-format-audio);
}
