@font-face {
    font-family: 'proximanova-light';
    src: url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: proximanova-light, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
  text-size-adjust: 100%;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #222;
}

h1 {
  font-size: 38px;
  line-height: 1.2em;
}

a {
  color: var(--dodger-blue);
  text-decoration: none;
}
