.document-summary {
  color: #222;
  display: block;
  background-color: #ededed;
  text-decoration: none;
  margin-bottom: 1.5em;
  position: relative;
  max-width: 600px;
}

.document-summary__title {
  margin: 0;
  padding: 0.65em;
  padding-left: 2.4em;
  line-height: 1.35em;
  background: #444;
  color: #fff;
}

.document-summary:before {
  font-family: FontAwesome;
  content: "\f02d";
  color: #ccc;
  position: absolute;
  font-size: 1.25em;
  top: 9.5px;
  left: 14.5px;
}

.document-summary__link {
  padding: 0.75em;
  background-color: var(--dodger-blue);
  color: #fff;
  display: block;
  text-align: center;
}

.document-summary__meta {
  list-style: none;
  margin: 0;
  padding: 1em 2em;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}

.document-summary__meta .fa {
  color: #666;
  padding-right: 0.4em;
}
