.nav-block {
  text-align: center;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  -webkit-font-smoothing: subpixel-antialiased;
}

.logo {
  color: white;
  text-decoration: none;
  font-family: "Roboto Slab";
}

.logo:hover {
  text-decoration: underline;
}
