.nav-block {
  text-align: center;
  background-color: var(--dodger-blue);
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.logo:hover {
  text-decoration: underline;
}

.mobile-toggle {
  cursor: pointer;
  position: absolute;
  color: #fff;
  top: 3px;
  left: 15px;
  font-size: 26px;
}
